
body{
    font-family: Open Sans;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background: #F44336;
    background-size: cover;
}

.mainbox{
    position: relative;
    width: 500px;
    height: 500px;
}

.mainbox:after{
    position: absolute;
    content: '';
    width: 32px;
    height: 32px;
    background: url('images/arrow-left.png') no-repeat;
    background-size: 32px;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
}

.circle{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius:50%;
    border: 10px solid #fff;
    overflow: hidden;
    transition: all ease 5s;
}

.button-spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -40%);
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 4px solid #fff;
    background-color: #ff5722;
    color: #fff;
    box-shadow: 0 5px 20px #000;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.button-spin:focus{
    outline: none;
}

.button-spin:active{
    width: 70px;
    height: 70px;
    font-size: 20px;
    border-color: transparent;
}

.mainbox.animate:after{
    animation: animateArrow 0.7s ease infinite;
}

@keyframes animateArrow{
    50%{
        right: -40px;
    }
}

