<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    
    <link rel="stylesheet" href="index.css">

    <!--Components-->
    <link rel="stylesheet" href="components/slice.css">
    <script src="components/slice.js"></script>

    <link rel="stylesheet" href="C:/Proyectos/VueJs/v-components/expansion-panel/expansion-panel-section.css">
    <script src="C:/Proyectos/VueJs/v-components/expansion-panel/expansion-panel-section.js"></script>
</head>
<body>
    <div id="app">

        <div class="div-expansion-panel-container">
            <expansion-panel-section label="Tabla de elementos">
                <div>
                    <input type="text" v-model:label="newSlice.label">
                    <button v-on:click="addSlice">Agregar etiqueta</button>
                    <button v-show="slices.length > 0" v-on:click="deleteSlices">Borrar todas</button>
                </div>

                <div style="overflow-y: auto; max-height: 8rem;">
                    <ul>
                        <li v-for="(slice, index) in slices">
                            <label>{{slice.label}}</label>
                            <button v-on:click="deleteSlice(index)">X</button>
                        </li>
                    </ul>
                </div>

                
            </expansion-panel-section>
        </div>       

        <hr>

        <div id="mainbox" class="mainbox">
            <div id="circle" class="circle">

                <slice 
                    v-for="slice in slices"
                    v-bind:label = "slice.label"
                    v-bind:angle = "slice.angle"
                    v-bind:rotation = "slice.rotation"
                    v-bind:color = "slice.color"></slice>


                <!--slice
                    v-bind:label="'Etiqueta 1'"
                    v-bind:turn="'0'"
                    v-bind:color="'#6600ff'"></slice>

                <slice
                    v-bind:label="'Etiqueta 2'"
                    v-bind:angle="'45'"
                    v-bind:color="'green'"></slice>

                <slice
                    v-bind:label="'Etiqueta 2'"
                    v-bind:angle="'90'"
                    v-bind:color="'indigo'"></slice>

                <slice
                    v-bind:label="'Etiqueta 2'"
                    v-bind:angle="'135'"
                    v-bind:color="'black'"></slice>

                <slice
                    v-bind:label="'Etiqueta 2'"
                    v-bind:angle="'180'"
                    v-bind:color="'green'"></slice>

                <slice
                    v-bind:label="'Etiqueta 2'"
                    v-bind:angle="'225'"
                    v-bind:color="'yellow'"></slice>

                <slice
                    v-bind:label="'Etiqueta 2'"
                    v-bind:angle="'270'"
                    v-bind:color="'indigo'"></slice>

                <slice
                    v-bind:label="'Etiqueta 2'"
                    v-bind:angle="'315'"
                    v-bind:color="'black'"></slice-->
    
                <!--
                <div class="slice-box">
                    <span class="slice" style="background-color: yellow;">
                        <b>Etiqueta 1</b>
                    </span>
                </div>

                <div class="slice-box" style="transform: rotate(45deg);">
                    <span class="slice" style="background-color: green;">
                        <b>Etiqueta 2</b>
                    </span>
                </div>

                <div class="slice-box" style="transform: rotate(90deg);">
                    <span class="slice" style="background-color: indigo;"></span>
                </div>

                <div class="slice-box" style="transform: rotate(135deg);">
                    <span class="slice" style="background-color: black;"></span>
                </div>
    
                <div class="slice-box" style="transform: rotate(180deg);">
                    <span class="slice" style="background-color: yellow;"></span>
                </div>

                <div class="slice-box" style="transform: rotate(225deg);">
                    <span class="slice" style="background-color: green;"></span>
                </div>
                
                <div class="slice-box" style="transform: rotate(270deg);">
                    <span class="slice" style="background-color: indigo;"></span>
                </div>

                <div class="slice-box" style="transform: rotate(315deg);">
                    <span class="slice" style="background-color: black;"></span>
                </div>
                
                -->
            </div>

            <button class="button-spin" v-on:click="girar">SPIN</button>
        </div>

    </div>
</body>

<script src="index.js"></script>
</html>